
.root {
  --brownish-grey: #6b6b6b;
}
/* Sample text styles */
header {
  font-family: system-ui;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #554d56;
}

.side-image-container {

}
