<div class="row">
<div class="col-lg-4 col-xs-12 col-md-6">

<img src="https://via.placeholder.com/150" alt="Avatar">

<div>
  Start your 14 day free trial
</div>  

<div>
No Credit card required.
</div>  

<mat-list role="list">
  <mat-list-item role="listitem">
     <mat-form-field class="top-row-field">
        <input matInput placeholder="First Name">
      </mat-form-field>
      
       <mat-form-field>
        <input matInput placeholder="Last Name">
      </mat-form-field>
  </mat-list-item>
  <mat-list-item role="listitem">
   <mat-form-field>
    <input matInput placeholder="Company Name">
  </mat-form-field>
  </mat-list-item>
  <mat-list-item role="listitem">
    <mat-form-field>
      <input matInput placeholder="Email">
    </mat-form-field>
  </mat-list-item>
  <mat-list-item role="listitem">
    <mat-form-field>

    <input matInput placeholder="Password">
 
    </mat-form-field>
  </mat-list-item>
  <mat-list-item role="listitem">

     <mat-form-field>
    <input matInput placeholder="Confirm Password">
  </mat-form-field>
 
  </mat-list-item>  
</mat-list>


  

  

  

  

  
  <mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox>
  
<mat-chip-list>
  <mat-chip>Submit</mat-chip>
  <mat-chip>Cancel</mat-chip>

</mat-chip-list>
  
  
</div>
<div class="col-lg-8 col-xs-12 col-md-6">
    Place holder
    
     <i class="fa fa-twitter"></i>
</div>

</div>
