.top-row-field {
    margin-right: 20px;
}

.app-logo {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.side-image-container {
  height: 100vh;

}