.top-row-field {
  margin-right: 20px;
}

.app-logo {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.side-image-container {
  background-image: url("https://github.com/pRoy24/cartwheel-demo/blob/master/src/assets/side_img.png?raw=true");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}