.top-row-field {
  width: 50%;
}

.top-row-left {
  padding-right: 10px;
}

.top-row-right {
  padding-left: 10px;  
}

.app-logo {
  height: 120px;
  width: 120px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left: 16px;
}

.side-image-container {
  background-image: url("https://github.com/pRoy24/cartwheel-demo/blob/master/src/assets/side_img.png?raw=true");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;

}

.signup-label-heading {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  padding-left: 16px;
}

.signup-label-subheading {
  font-size: 12px;
  font-weight: 600;  
  margin-top: 10px;
    padding-left: 16px;
}

.signup-form-container {
  padding: 10px 20px;
}

.row-input-field {
  width: 100%;
}

.mat-list-item {
  margin-top: 28px !important;
}

.row-input-checkbox {
  padding-left: 16px;
  margin-top: 10px;
}